# Java derleme çıktıları
/out/
/target/
*.class

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Sistem dosyaları
.DS_Store
Thumbs.db

# Ayar, temp ve log dosyaları
*.log
*.tmp
*.bak

# Maven özel
.mvn/
dependency-reduced-pom.xml

# Config dosyası
config.properties
